@media screen and (min-width: 768px) and (max-width: 991px) {
    main {
        @include sizeElem(30px, 30px, $blockWidthL);
        font-size: $fsLg;
    }

    header {
        @include alignment;
        @include propElem (35px);
        height: $hL;
        button {
            @include button(180px, 100%)
        }
        .form {
            @include form;
            &::placeholder {
                font-size: $fsLg;
            }
        }
    }
    
    .main-container {
        @include propElem ($hL);
        @include alignment;
        padding: 0;
        justify-content: center;
    }
    .justify {
        justify-content: center;
    }

    footer {
        @include alignment;
        @include propElem (0);
        span {
            margin: 0 $gap;
            font-size: $fsLg;
        }
        div {
            @include alignment;
        }
      button {
            @include footerBtn (1.5rem);
        }  
    }
    .arrowButton {
        display: none;
    }

    .cards {
        @include flexColumn (40vw, 250px, inherit);

        button {
            margin-top: $gapS;
            @include button(80%, 50px);
        }
    }
    .card_small {
        @include flexColumn (40vw, 250px, inherit);

        button {
            margin-top: $gapS;
            @include button(80%, 50px);
        }
    }
    
    section {
        display: grid;
        gap: $gap;
        grid-template-columns: repeat(2, 1fr) ;
        align-content: center;
    }
    
    .posts {
        @include flexColumn (80vw, fit-content, $fsML);
        @include postsMd (5%, 82%);
        h3 {
           @include h3 (1.3em, 30px) 
        }
        .btn-close {
            transform: scale(1.1, 1.1);
            position: fixed;
            border: #111 2px solid;
            top: 30px;
            right: 30px;
        }
    }
}