// background
$bgAppColor: #12122D;
$bgColor:  #333348;
$bgButton: #52519d;

//text
$color: #eee;

$fsNormalXL: 24px;
$fsSmallXL: 18px;
$fsNormalL: 22px;
$fsSmallL: 16px;
$fsLg: 20px;
$fsML:18px;
$fsSm:16px;

$hXL: 55px;
$hL: 50px;

$blockWidthXL: 84%;
$blockWidthL: 90%;
$blockWidthS: 80%;
$borRad: 40px;

$gap: 30px;
$gapS: 20px;
